
/* reseteando css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: 1rem;
}

.producto {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgb(194, 159, 250);
  text-align: center;
  padding: 1rem;
}

.producto-imagen {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.producto h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
}

.producto p {
  font-size: 1rem;
  color: #333;
}

.producto button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.producto button:hover {
  background-color: #0056b3;
}

.footer-carrito{
  height: 25vh; /* Ocupa un cuarto de la altura de la pantalla */
  width: 100%; /* Ocupa todo el ancho de la pantalla */
  background-color: white; /* Color de fondo */
  padding: 20px; /* Espaciado interno */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar el div */
  z-index: 1000; /* Asegura que el carrito esté por encima de otros elementos */
}
.carrito-comprar {
  display: flex;
  justify-content: space-between;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  padding: 1rem;
  align-items: center
}
.carrito-comprar h3 {
  width: 35vh;
  padding: 1rem;
}
.carrito-comprar button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.botonesSumEl {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  align-items: center
}

.botonesSumEl button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.1rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.comprar-seccion {
  display: flex;
 justify-content:space-between;
 border: 1px solid #ddd;
 border-radius: 8px;
 overflow: hidden;
 box-shadow: 0 2px 5px rgba(0,0,0,0.1);
 padding: 1rem;
 align-items: center
}

.comprar-seccion button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
}
.total {
  background-color:  rgb(194, 159, 250);
  width: 1fr;
  padding: 0.7em;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.ocultar {
  display: none;
}