
/* reseteando css */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a{ 
  text-decoration: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  background-color: #013298;
}

aside {
  padding: 2rem;
  padding-right: 0;
  color: whitesmoke;
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  font-weight: 900;
  font-size: 1.5rem;

}
.menu {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.boton-menu {
  background-color: transparent;
  border: 0;
  color: whitesmoke;
  font-size: 1.2rem;
  cursor: pointer;
  display: flex;
  gap: 1rem;
  font-weight: 600;
  padding: 1rem;
  font-size: .85rem;
}
.boton-menu.active {
  background-color: whitesmoke;
  color: #013298;
  width: 100%;
  border-top-left-radius:1rem;
  border-bottom-left-radius: 1rem;
  
}
.boton-carrito{
  margin-top: 2rem;
}
.numerito{
  background-color: white;
  color: #013298;
  padding:0 0.5rem;
  border-radius: .25rem;
}
.boton-carrito.active .numerito {
  background-color: #013298;
  color: whitesmoke;
}
.texto-footer {
  color: whitesmoke;
  font-size: 0.85rem;
}

main{
  background-color: grey;
  margin: 1rem;
  margin-left: 0;
  border-radius: 2rem;
  padding: 3rem;
}

.titulo-principal {
  color: #013298;
  margin-bottom: 2rem;
}

.contenedor-productos {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 1rem;
}

.producto-imagen{
  max-width: 100%;
  border-radius: 1rem;
}

.producto-detalles {
  background-color:#013298;
  color: whitesmoke;
  padding:.5rem;
  border-radius: 1rem;
  margin-top: -2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: .25rem;
}

.producto-titulo {
  font-size: 1.3rem;
}

.producto-agregar{
  border: 0;
  background-color: whitesmoke;
  color: #013298;
  padding: .4rem;
  text-transform: uppercase;
  border-radius: 2rem;
  cursor:pointer;
  border: 2px solid whitesmoke
}

.producto-agregar:hover {
  background-color:#013298 ;
  color:whitesmoke
}

/* Carrito */
.contenedor-carrito{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.carrito-vacio,
.carrito-comprado {
  color: #013298;
 
}
.carrito-productos{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.carrito-producto {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  color: #013298;
  padding: .5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
}

.carrito-producto-imagen{
  width: 4rem;
  border-radius: 1rem;
}

.carrito-producto small {
  font-size: 0.75rem;
}
.carrito-producto-eliminar{
  border: 0;
  background-color: transparent;
  color: red;
  cursor: pointer;
}
.carrito-acciones {
  display: flex;
  justify-content: space-between;
}
.carrito-acciones-vaciar {
  border: 0;
  background-color: whitesmoke;
  padding: 1rem;
  border-radius: 1rem;
  color: #013298;
  text-transform: uppercase;
  cursor: pointer;
}
.carrito-acciones-derecha {
  display: flex;
 
}
.carrito-acciones-comprar {
  border: 0;
  background-color:#013298;
  padding: 1rem;
  color: whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;

}
.carrito-acciones-total{
  display: flex;
  background-color: whitesmoke;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  color: #013298;
  text-transform: uppercase;
 gap: 1rem;
}

.disabled {
  display:none;
}